<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
<title></title>
<script src="https://openui5.hana.ondemand.com/1.38.4/resources/sap-ui-core.js"
  id="sap-ui-bootstrap"
  data-sap-ui-theme='sap_bluecrystal'
  data-sap-ui-resourceroots='{"demo": "./"}'>
</script>
<script>
	// sap.ui.getCore().attachInit(function(){
 //      sap.ui.require(['demo/controls/Map'], function(Map){
 //          var oMap = new Map();
 //          oMap.placeAt('map');

 //          setTimeout(function(){
 //            $('#map').css({
 //                width: '400px',
 //                height: '300px'
 //            });
 //          }, 5);


 //      });
	// });
 //  console.log("1");
</script>
</head>

<body id='content' class='sapUiBody'>
    {{{body}}}
</body>
</html>
